name: docker-build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Docker Login
      uses: docker/login-action@v1.10.0
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.DUMMY }}
    - name: Docker Compose build
      run: |
        docker-compose build
    - name: Docker Compose push
      run: |
        docker-compose push
    
